* {
  box-sizing: border-box;
}
:root {
    --primary-color: #475569;
    --secondary-color: #64748b;
    --hovered-color: #eeeeee;
    --selected-color: #eeeeee;
    --updated-color: #b3b3b3;
    --note-preview-bgc: #f1f5f9;
    --white: #ffffff;
    --black: #000000;
  }
html,
body {
  height: 100%;
  margin: 0;
}

.notes {
  display: flex;
  height: 100%;
}

.notes * {
  font-family: sans-serif;
}

.notes__sidebar {
  background-color: var(--primary-color);
  border-left: 2px solid #dddddd;
  flex-shrink: 0;
  overflow-y: auto;
  padding: 0 1em;
  width: 150px;
  -ms-overflow-style: none;  /* IE and Edge */
  scrollbar-width: none;  /* Firefox */
  border-radius: 5% 0 0 5% / 50% 0 0 50% ;
}
.notes__sidebar::-webkit-scrollbar{
    display: none;
}
@media screen and (min-width: 500px) {
    .notes__sidebar {
        width: 300px;
    }
}
.notes__add{
    position: sticky;
    top: 0;
    background: var(--primary-color);
    z-index: 1;
}
.notes__add-btn {
  background: var(--secondary-color);
  border: none;
  border-radius: 7px;
  color: var(--white);
  cursor: pointer;
  font-size: 1.25em;
  font-weight: bold;
  margin: 1em 0;
  padding: 1em;
  width: 100%;
  position: sticky;
  top: 0px;
}

.notes__add-btn:hover {
  background: var(--hovered-color);
  color: var(--secondary-color);
}

.notes__list-item {
  cursor: pointer;
  background: var(--secondary-color);
  color: var(--white);
  border-radius: 12px;
  margin-bottom: 5px;
  min-height: 120px;
}

.notes__list-item--selected {
  background: var(--selected-color);
  color: var(--black);
  border-radius: 12px;
  font-weight: bold;
}

.notes__list-item--selected .notes__small-updated{
    color: var(--updated-color);
}

.notes__small-title,
.notes__small-updated {
  padding: 5px;
}

.notes__small-title {
  font-size: 1rem;
  margin: 5px;
}

.notes__small-body {
  margin: 5px;
  line-height: 1.3rem;
  overflow: hidden;
}

.notes__small-updated {
  color: #c3c3c3;
  font-style: italic;
  text-align: right;
}

@media screen and (min-width: 500px) {
    .notes__small-title,
    .notes__small-updated {
      padding: 10px;
    }
    
    .notes__small-title {
      font-size: 1.2em;
    }
    
    .notes__small-body {
      margin: 5px;
      padding: 5px;
      overflow: hidden;
    }
    
    .notes__small-updated {
      font-style: italic;
      text-align: right;
    }
}

.notes__preview {
  display: flex;
  flex-direction: column;
  padding: 1rem;
  flex-grow: 1;
}

.notes__title,
.notes__body {
  border: none;
  outline: none;
  width: 100%;
}

.notes__title {
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--note-preview-bgc);
  font-size: 3em;
  font-weight: bold;
}

.notes__body {
  min-height: 200px;
  padding: 1rem;
  border-radius: 15px;
  background-color: var(--note-preview-bgc);
  flex-grow: 1;
  font-size: 1.2rem;
  line-height: 1.5;
  margin-top: 2rem;
  resize: none;
}
